@model Editor.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change password</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>

            @Html.ValidationSummary(true)
            <div>
                @User.Identity.Name
            </div>

            <div>
                <label>Old password</label>
                <div>
                    @Html.Password("OldPassword")
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div>
                <label>New password</label>
                <div>
                    @Html.Password("NewPassword")
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div>
                <label>Confirm new password</label>
                <div>
                    @Html.Password("ConfirmNewPassword")
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>


            <div>
                <div>
                    <input type="submit" value="Change password" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
