@model Editor.Models.AppleModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
    <div>
        <h4>Newly added apple</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.TypeOfApple)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TypeOfApple)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to products", "ManageProducts")
    </p>
</body>
</html>
