@model Editor.Models.StoreModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit store</title>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <hr/>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div>
                @Html.LabelFor(model => model.Name)
                <div>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div>
                <div>
                    <input type="submit" value="Change name" />
                </div>
            </div>

            <div>
                <a href='javascript:showApples();'>Show available apples</a>

                <script type="text/javascript">
                    function showApples() {
                        $('#divAvailableApples').load("@Url.Action("AvailableApples", "Admin", this.Model)");
                    }
                </script>
            </div>
            <div id="divAvailableApples"></div>

            <div>
                <a href='javascript:showBananas();'>Show available bananas</a>

                <script type="text/javascript">
                    function showBananas() {
                        $('#divAvailableBananas').load("@Url.Action("AvailableBananas", "Admin", this.Model)");
                    }
                </script>
            </div>

            <div id="divAvailableBananas"></div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to stores", "ManageStores")
    </div>
</body>
</html>
