@model Editor.Models.BananaModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy banana</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div>
                @Html.LabelFor(model => model.TypeOfBanana)
                <span>: </span>
                @Html.DisplayFor(model => model.TypeOfBanana)
            </div>

            <div>
                @Html.LabelFor(model => model.Price)
                <span>: </span>
                @Html.DisplayFor(model => model.Price)
            </div>

            <div>
                @Html.LabelFor(model => model.Quantity)
                <div>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { min = 1, max = Model.Quantity } })
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>

            <div>
                <div>
                    <input type="submit" value="Add to basket">
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to store", "ShowStoreItems", new { id = ViewBag.storeId })
    </div>
</body>
</html>
